# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
dist-ssr
*.local

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Misc
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
